
<%-include("./layouts/header.ejs")%>
    
    
<section class="h-100 h-custom ">

    
    <div class="container py-5 h-100 mt-5"  style="height: 500px;">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3">
            <div class="card-body shadow  p-md-5" style="background-color:   rgb(236, 184, 101); border-radius: 5px;">
              <h1 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2 text-center ">OTP</h1>
  
              <form action="/signin/forgot" method="post" class="px-md-2 mt-5 m-5">                                
                    <div class="row  ">
                        <label class="form-label " for="form3Example1q">Enter Your Email Address</label>
                        <!-- <div class="col-md-4">
                        </div> -->
                        <input type="text" id="form3Example1q" class="form-control m-2" name="email" placeholder="Enter Your Email Address" />
                        <!-- <div class="col-md-8">
                        </div> -->
                    </div>
                    <p class="text-danger "><%=message%></p>
                    <div class="d-flex justify-content-center">
                        <button type="submit" style="background-color: #F07C3A;width: 200px;" class="btn align-items-center p-2 mt-5">Submit</button>
                    </div>
                    </div>
              </form>
            </div>
        </div>      
    </div>          
</section>
</body>
</html>