
<%-include("./layouts/header.ejs")%>
    
    
<section class="h-100 h-custom ">

    
    <div class="container py-5 h-100 mt-5"  style="height: 500px;">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3">
            <div class="card-body shadow p-5 p-md-5" style="background-color:whitesmoke; border-radius: 5px;">
              <h1 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2 text-center ">Sign UP</h1>
  
              <form action="/signup" id="form" method="post" class="px-md-2 mt-5 m-5">
                <hr>
                
                <div class="row mb-4 mt-5">
                    <div class="col-md-4">
                        <label class="form-label pt-2" for="form3Example1q">Enter Your Name</label>
                      </div>
                      <div class="col-md-8">
                        <input type="text" id="name" class="form-control" name="fname" placeholder="Enter Your Name" required />
                      </div>
                </div>

                <div class="row mb-4">
                  <div class="col-md-4">
                    <label class="form-label pt-2" for="form3Example1q">Enter Username</label>
                  </div>
                  <div class="col-md-8">
                    <input type="text" id="form3Example1q username" class="form-control" name="username" placeholder="Enter Your Username" required />
                  </div>
                </div>
              
                <div class="row mb-4">
                  <div class="col-md-4">
                    <label class="form-label pt-2" for="form3Example1q">Enter Your Email</label>
                  </div>
                  <div class="col-md-8">
                    <input type="text" id="email" class="form-control" name="email" placeholder="Enter Your Email" required />
                  </div>
                </div>

                <div class="row mb-4">
                    <div class="col-md-4">
                      <label class="form-label pt-2" for="form3Example1q">Enter Password</label>
                    </div>
                    <div class="col-md-8">
                      <input type="password" id="password" class="form-control password" name="password" placeholder="Enter Your Password" required />
                    </div>
                  </div>

                  <div class="row mb-4">
                    <div class="col-md-4">
                      <label class="form-label pt-2" for="form3Example1q">Repeat Password</label>
                    </div>
                    <div class="col-md-8">
                      <input type="password" id="cpassword" class="form-control password" name="cpassword" placeholder="Repeat Your Password" required />
                    </div>
                  </div>
                  <div class="d-flex justify-content-center">
                    <p class="bg-alert text-danger" id="error-field"><%=message %></p>
                  </div>
                  <div class="d-flex justify-content-center container">
                      <p class="">Have an Account Already click here to <a style="text-decoration: none;" href="/login">Login</a> </p>
                  </div>
                  <div class="d-flex justify-content-center">
                    <button type="submit" style="background-color: #F07C3A;width: 200px;" class="btn align-items-center p-2">Sign Up</button>
                </div>
                </div>
              
              </form>
            </div>
        </div>      
    </div>          
</section>
<script>
  const form = document.getElementById('form');
  const email = document.getElementById('email');
  const username = document.getElementById('username');
  const password = document.getElementById('password');
  const cpassword = document.getElementById('cpassword')

  const emailRegex = /^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/;

  form.addEventListener('submit',(e)=>{
    e.preventDefault();
    
    if(!emailRegex.test(email.value)){
      document.getElementById("error-field").innerHTML="Please Enter Valid Email";
      document.getElementById("error-field").style.display="block"
    }
    else if(password.value!==cpassword.value){
      document.getElementById("error-field").innerHTML="Please Enter Matching PasssWord";
      document.getElementById("error-field").style.display="block"
    }
    else{
      document.getElementById("error-field").innerHTML="";
      document.getElementById("error-field").style.display="none"
      form.submit()
    }
    
  })

</script>
</body>
</html>