<%-include("./layouts/header.ejs")%>

<section class="h-100 h-custom ">

        
    <div class="container py-5 h-100 mt-5"  style="height: 500px;">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8 col-xl-6"> 
                <h1 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2 text-center ">Verify Your Mail</h1>
                <hr>              
            </div>      
            <p class="alert alert-info text-center mt-4">We have sent an email to your account. Please verify your email to continue...</p>
            <div class=" d-flex justify-content-center">
                <img class="img-fluid" src="https://img.freepik.com/free-vector/full-inbox-concept-illustration_114360-5825.jpg?w=826&t=st=1687322573~exp=1687323173~hmac=29b5e16dde3a25351ecda196143481071bca99184f61b987281f2d5d1de1362c" alt="no img found">
            </div> 
        </div>
    </div>          
</section>
</body>
</html>