</div>
   <!-- Make sure to include jQuery and Bootstrap JavaScript libraries -->
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
   <script>
     $(document).ready(function() {
       $('.dropdown-toggle').dropdown();
     });
   </script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevatezoom.min.js"></script> 



<script>
  const container = document.getElementById('categoryContainer');
  const checkboxes = container.querySelectorAll('input[type="checkbox"]')

  const selectedValues = []
  $(document).ready(function() {

  const checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
  checkboxes.forEach(checkbox => {
    if (checkbox) {
      selectedValues.push(checkbox.value);
    }
  });
  function handleCheckboxChange(event) {
          const checkboxValue = event.target.value;
          if (event.target.checked) {
            const index = selectedValues.indexOf(checkboxValue);
            if(index){
              selectedValues.push(checkboxValue);
            }
          } else {
            const index = selectedValues.indexOf(checkboxValue);
            if (index !== -1) {
              selectedValues.splice(index, 1);
            }

          }
          
          console.log(selectedValues);
          handleFilterChanges()
        }
    function handleSliderChange(event) {
      event.preventDefault();
      const container = document.getElementById('categoryContainer');
        
        checkboxes.forEach(checkbox => {
          checkbox.addEventListener('change', handleCheckboxChange);
        });         
        handleFilterChanges()
  }
  function handleFilterChanges() {
    const fromValue = $('#fromSlider').val();
    const toValue = $('#toSlider').val();
    const searchQuery = $('#searchInput').val().trim();
    const uniqueSelectedValues = new Set(selectedValues);
    const uniqueSelectedArray = Array.from(uniqueSelectedValues);
    console.log(uniqueSelectedArray);
    $.ajax({
      url: '/product',
      method: 'GET',
      data: {
        fromValue: fromValue,
        toValue: toValue,
        search: searchQuery,
        category: uniqueSelectedArray,
      },
      success: function(response) {
        const productContainer = $('#productContainer');
        productContainer.empty();
        response.products.forEach(function(product) {
          const productElement = createProductElement(product);
          productContainer.append(productElement);
        });
      },
      error: function(error) {
        console.error('Error:', error);
      }
    });   
  }

  function createProductElement(product) {
    const productElement = $('<div class="col-md-4 mb-4"><div class="card"><img src="" class="card-img-top" alt=""><div class="card-body"><h5 class="card-title"></h5><p class="card-text">&#x20B9;</p><a href="" class="fas fa-eye btn btn-dark mr-1">View</a><a href="" class="fas fa-shopping-cart btn btn-secondary">Add</a></div></div></div>');

    productElement.find('img').attr('src', product.image[0].url);
    productElement.find('.card-title').text(product.name);
    productElement.find('.card-text').text(`₹${product.price}`);
    productElement.find('.btn.btn-dark').attr('href', `/product/shop?id=${product._id}`);

    return productElement;
  }

  $('#fromSlider, #toSlider').on('input', handleSliderChange);
  $('#searchForm').submit(function(event) {
    event.preventDefault();
    handleSliderChange(event);
  });
});


  $(document).ready(function() {
  $('.zoom').mouseenter(function() {
    $(this).elevateZoom({
      cursor: 'crosshair',
      zoomWindowWidth: 250, 
      zoomWindowHeight: 250,
      zoomWindowOffetx: 100,
      zoomLevel: .8,
    });
  }).mouseleave(function() {
    $(this).removeData('elevateZoom');
  });
});

  $(document).ready(function() {
  $('.variant-btn').click(function() {
    $('.variant-btn').removeClass('active');
    $(this).addClass('active');
    
    var selectedVariant = $(this).data('variant');
    
    console.log('Selected variant:', selectedVariant);
  });
});

</script>

<script>
    var variantButtons = document.querySelectorAll('.variant-btn');
  variantButtons.forEach(function(button) {
    button.addEventListener('click', function() {
      selectVariant(this);
    });
  });

   // Function to handle variant button click
   function selectVariant(variant) {
    // Remove the "active" class from all variant buttons
    variantButtons.forEach(function(button) {
      button.classList.remove('active');
    });

    // Add the "active" class to the clicked variant button
    variant.classList.add('active');

    // Get the selected variant value from the data attribute
    var variantValue = variant.getAttribute('data-variant');

    // Perform any necessary actions based on the selected variant
    console.log('Selected variant:', variantValue);
    // You can update other parts of the page, trigger AJAX requests, or perform any other desired actions
  }

</script>


 <script>
  // Function to handle the quantity decrement
  function decrementQuantity() {
    var quantityInput = document.getElementById('quantity');
    var currentQuantity = parseInt(quantityInput.value);

    if (currentQuantity > 1) {
      quantityInput.value = currentQuantity - 1;
    }
  }

  // Function to handle the quantity increment
  function incrementQuantity() {
    var quantityInput = document.getElementById('quantity');
    var currentQuantity = parseInt(quantityInput.value);

    if (currentQuantity < 100) {
      quantityInput.value = currentQuantity + 1;
    }
  }


  // Attach event listeners to the buttons
  // document.querySelector('.quantity-left-minus').addEventListener('click', decrementQuantity);
  // document.querySelector('.quantity-right-plus').addEventListener('click', incrementQuantity);
  // document.querySelector('.btn-addtocart').addEventListener('click', addToCart);


</script>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Bootstrap and other scripts -->
<script src="https://kit.fontawesome.com/5caf998115.js" crossorigin="anonymous"></script>
<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-p6ts1mDUsa8Ex4R+nss9quK8hOuvFZnSM3o/z4YsHhm4m4n/qDTxjs0Vfylu9tS5" crossorigin="anonymous"></script>

</body>
    
<footer class="bg-light py-3 down">
    <div class="container">
        <!-- Footer section for the profile page -->
        <p>&copy; 2023 SolMate. All rights reserved.</p>
        <!-- Add any additional footer elements here -->
    </div>
</footer>
</html>
